@import "../../../../../../public/assets/styles/variables";

.user_header {
  background-color: $headerBackgroundColor;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.user_list {
  margin-top: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: $whiteColor;
}