@import "../../../../../../public/assets/styles/variables";


.modal-body {
  font-size: 15px;
  color: $textColor;
}

.modal-footer {
  border-top: 0px !important;
  display: flex;
  justify-content: space-around;

  .btn {
    width: 45%;
    border-radius: 20px;
  }
}