.container {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;

    .menu_item {
      text-decoration: none;
      color: #34495E;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 18px;
    }
  }
}