@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../public/assets/styles/variables';

* {
  // outline: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "SF NS Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary_button {
  background-color: $primaryColor;
  color: $whiteColor !important;
  border-radius: 20px;
  border: $primaryColor;
  padding: 8px 24px;
  text-transform: uppercase;
}